p.sec {
  
  background-color: MidnightBlue;
  
  color: cyan;
  
  border-style: dotted;
  border-width: 2px;
  
}

h1 {
  
  text-align: center;
}

td.langs{
  padding: 3px;
  color: black;
  background-color: Gainsboro;
}

th.langs{
  padding: 3px;
  color: black;
  background-color: AntiqueWhite;
}

#me {
  height: 300px;
  width: 200px;
  margin: auto;
}