/* This how you add style elements to a regular html tag */
h1 {
  
  text-align: center;
}

/* This is how you select unique elements in CSS 
   In HTML this is denoted as id="me"*/
#me {
  height: 200px;
  width: 300px;
  display: block;
  margin: auto;
}

/* This is how you select classes in CSS
   In HTML this is denoted as class="sec" within the tag*/
p.sec {
  
  background-color: MidnightBlue;
  text-align: center;
  color: cyan;
  border-style: dotted;
  border-width: 2px;
}

/* This is used for the big blocks in the middle of my webpage. */
p.cen {
  text-align: center;
  border: double;
  margin-right: 10em;
  margin-left: 10em;
}

td.langs {
  padding: 3px;
  color: black;
  background-color: Gainsboro;
}

th.langs {
  padding: 3px;
  color: black;
  background-color: AntiqueWhite;
}

#centab {
  width: 80%;
  margin: auto;
}

hr {
  height: 1px;
  color: black;
  background-color: black;
  border: 0;
  margin: 1px;
}

h2 {
  border-style: solid;
  border-width: 0px 0px 1px 0px;
  border-color: black;
}