/* This how you add style elements to a regular html tag */
h1 {
  
  text-align: center;
}

p {
  
  text-align: center;
  border: double;
  padding: 2em;
  
}

/* This is how you select classes in CSS
   In HTML this is denoted as class="sec" within the tag*/
p.sec {
  
  background-color: MidnightBlue;
  color: cyan;
  border-style: dotted;
  border-width: 2px;
  
}

td.langs {
  padding: 3px;
  color: black;
  background-color: Gainsboro;
}

th.langs {
  padding: 3px;
  color: black;
  background-color: AntiqueWhite;
}

/* This is how you select unique elements in CSS 
   In HTML this is denoted as id="me"*/
#me {
  height: 300px;
  width: 200px;
  display: block;
  margin: auto;
}